@import './common.scss';

// BANNER
.banner {
  h1 {
    font-weight: 700;
    // font-size: 36px;
  }

  img {
    width: auto;
  }

  .carousel-indicators {
    justify-content: end;

    button {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }
  }
}